<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/jsp/index.jsp</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>controller.GameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>controller.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>controller.MovieController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/MovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/GameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/EmailController</url-pattern>
    </servlet-mapping>





    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>



</web-app>